body,html{
	padding:0px;
	margin:0px;
	background: #BDC5C6;
}

header{
	width:80%;
	height:auto;
	border: 1px solid orange;
	color:green;
	background-color:yellow;
	
	margin-top: 30px;
	margin-bottom: 10px;
	padding: 3px;
	position: relative;
}
header ul{
	position: relative;
	width:auto;
	height:auto;
	list-style-type: none;
	top:3px;
	left:400px;
}
ul li{
	display: inline;
	width:auto;
	height:auto;
	padding:3px;
	margin-right: 3px;
	border:1px solid #666;
}
li label{
	padding:3px;
	margin-right: 3px;
}
.left-side{
	width:500px;
	height:auto;
	float: left;
	margin-right: 0px;

	padding: 20px 10px 20px 10px;
}
.right-side{
	width:650px;
	height: auto;
	float:right;

	padding: 20px 10px 20px 10px;
}
.container{
	width:1200px;
	height:auto;

	position: relative;
	padding: 5px;
	top:60px;
}
.center{
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
.note-drop{
	width:170px;
	height:170px;
	background: #ECEEEF;
	float: left;
	position: relative;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 2px dashed gray;
	padding:10px;
}
.note-pile{
	width:170px;
	height:170px;
	background: #FFCB00;
	left: 220px;
	position: relative;
	color:black;
	z-index: 1;

	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

.new-note{
	width:170px;
	height:170px;
	background: #FFCB00;
	font-size: 14px;
	padding:10px;
}
.ui-draggable-dragging{
	border: 1px solid #666;
	box-shadow: 1px 1px 5px 3px #666;
}
.drop-over{
	border: 2px solid gray;
	box-shadow: 1px 1px 5px 0px #666;
}
.add-border{
	border:1px solid #666;
}
.text-wrap{
	font-size: 12px;
	color:black;
	font-family: arial;
	padding:10px;
}
span.close{
	position: absolute;
	color:#626DA8;
	top:8px;
	left:165px;
	cursor:pointer;
	font-weight: bold;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 18px;
	display: none;
}
span.close:hover{
	font-weight: bolder;
	color: #666;
	text-shadow: 0px 0px 2px black;
}